#####################################################################
#   Probe (Beacon)
#####################################################################

[beacon]
serial: /dev/serial/by-id/usb-Beacon_Beacon_RevH_2838F8EF5154354D38202020FF0A212B-if00

x_offset: 0 # update with offset from nozzle on your machine
y_offset: 20 # update with offset from nozzle on your machine

mesh_runs: 2

home_method: proximity #contact
home_method_when_homed: proximity
home_autocalibrate: unhomed

contact_sensitivity: 2
contact_latency_min: 3

contact_max_hotend_temperature: 180 # increase to probe at print temps


home_xy_position: 188.5, 185 # update with your safe position
home_z_hop: 10
home_z_hop_speed: 50
home_xy_move_speed: 250
mesh_main_direction: x

autocal_speed: 3
autocal_accel: 100
autocal_retract_dist: 2
autocal_retract_speed: 10
autocal_sample_count: 3
autocal_tolerance: 0.01
autocal_max_retries: 3

accel_axes_map: -x, -y, z
#accel_scale: 16g
#   Adjust the sensitivity of the accelerometer during shaper measurement,
#   valid settings on RevH are 16g, 8g, 4g and 2g.
#   For most users leaving the default setting of 16g is sufficient for use.