# This file contains common pin mappings for the BIGTREETECH Manta M8P V2.0
# To use this config, the firmware should be compiled for the
# STM32H723 with a "128KiB bootloader" "25 MHz crystal"
# and "USB (on PA11/PA12)", "CAN bus (on PD0/PD1)" or Serial (on USART1 PA10/PA9).

# See docs/Config_Reference.md for a description of parameters.

[mcu]
serial: /dev/serial/by-id/usb-Klipper_stm32h723xx_320004000D51313339373836-if00

[printer]
kinematics: corexy
max_velocity: 450
max_accel: 3400
max_z_velocity: 5
max_z_accel: 200
square_corner_velocity: 5.0

[heater_bed]
heater_pin: PA1
sensor_pin: PB1 # THB 
sensor_type: EPCOS 100K B57560G104F
control: pid
pid_Kp: 56.482
pid_Ki: 1.735
pid_Kd: 459.624
min_temp: 0
max_temp: 135

[temperature_sensor MCU]            # BTT-MCU temperature sensor configuration     
sensor_type: temperature_mcu        # Sensor type

[temperature_sensor CB2]            # BTT-CB2 temperature sensor configuration
sensor_type: temperature_host       # Sensor type

# Fan0
# [fan]
# pin: PF7

## Fan1
[temperature_fan CB2_fan]
pin: PF0
control: watermark
max_delta: 3
sensor_type: temperature_host
min_temp: 0
max_temp: 100
target_temp: 35

## Fan2
[heater_fan MCU_fan]
pin: PF9

## Fan3
[controller_fan driver_fan]
pin: PF6
kick_start_time: 0.2
off_below: 0.1
max_power: 1.0
idle_timeout: 30
idle_speed: 0.1
stepper: stepper_x, stepper_y

## Fan4
#[heater_fan fan4]
#pin: PA4

## Fan5
#[heater_fan fan5]
#pin: PA6
#tachometer_pin: PC2

## Fan6
#[heater_fan fan6]
#pin: PA2
#tachometer_pin: PC1

# [safe_z_home]
# ##	XY Location of the Z Endstop Switch
# ##	Update -10,-10 to the XY coordinates of your endstop pin 
# ##	(such as 157,305) after going through Z Endstop Pin
# ##	Location Definition step.
# home_xy_position:188.5,185
# speed:150
# z_hop:10

[z_tilt]
z_positions:
  -28.8, -32.3
  188.5, 441.8
  405.8, -32.3
points:
  3.5,-10
  178.5, 323
  363.5, -10
speed: 550
horizontal_move_z: 5
retries: 20
retry_tolerance: 0.006
# retry_tolerance: 0.0075


[idle_timeout]
timeout: 9999

[bed_mesh]
algorithm: bicubic
speed: 550
mesh_min: 28.5, 5
mesh_max: 348.5, 338
probe_count: 30, 30

[board_pins]
aliases:
    # EXP1 header
    EXP1_1=PE7, EXP1_2=PG1,
    EXP1_3=PG0, EXP1_4=PF15,
    EXP1_5=PF14, EXP1_6=PF13,    # Slot in the socket on this side
    EXP1_7=PF12, EXP1_8=PF11,
    EXP1_9=<GND>, EXP1_10=<5V>,

    # EXP2 header
    EXP2_1=PE13, EXP2_2=PE12,
    EXP2_3=PE15, EXP2_4=PE11,
    EXP2_5=PE10, EXP2_6=PE14,      # Slot in the socket on this side
    EXP2_7=PE8, EXP2_8=<RST>,
    EXP2_9=<GND>, EXP2_10=<NC>

# See the sample-lcd.cfg file for definitions of common LCD displays.



#[output_pin ps_on_pin]
#pin: PD14

#[neopixel my_neopixel_1]
#pin: PD15

#[hall_filament_width_sensor]
#adc1: PC0
#adc2: PF10


#####################################################################
# 	Macros
#####################################################################

[gcode_macro G32]
gcode:
    BED_MESH_CLEAR
    G28
    Z_TILT_ADJUST
    G28
    ##	Uncomment for 350mm build
    G0 X188.5 Y185 Z30 F9000
















