
#####################################################################
#   Start & End Macros
#####################################################################

[gcode_macro PRINT_START]
#   Use PRINT_START for the slicer starting script - please customise for your slicer of choice
gcode:
    # BED_MESH_CLEAR
    G28
    SET_GCODE_OFFSET Z=0
    G90
    M83

    M104 S150       ; preheat nozzle to probing temp
    # SET_HEATER_TEMPERATURE HEATER=HeatBlock TARGET=130
    M140 S{params.BED}     ; start bed heater
    M109 S150       ; preheat nozzle to probing temp
    # TEMPERATURE_WAIT SENSOR="heater_generic nozzle" MINIMUM={140} MAXIMUM={160}
    M190 S{params.BED}     ; wait on bed temperature
    G4 P60000       ; optional, let temps settle for 1 min

    G28 Z METHOD=CONTACT CALIBRATE=1 #METHOD=proximity CALIBRATE=1 #METHOD=CONTACT CALIBRATE=1    ; calibrate z offset and beacon model hot
    # Z_TILT_ADJUST                       ; or QGL to balance towers
    BED_MESH_CALIBRATE RUNS=2           ; bed mesh in scan mode

    G28 Z METHOD=CONTACT CALIBRATE=0    ; calibrate z offset only after tilt/mesh

    M104 S{params.EXTRUDER}                    ; set extruder to print temp
    # SET_HEATER_TEMPERATURE HEATER=HeatBlock TARGET=190
    # TEMPERATURE_WAIT SENSOR="heater_generic nozzle" MINIMUM={ params.EXTRUDER } MAXIMUM={ params.EXTRUDER + 10}
    M109 S{params.EXTRUDER}                    ; wait for extruder temp

    # SET_GCODE_OFFSET Z=0.037     ; add a little offset for hotend thermal expansion 0.2/0.3
    SET_GCODE_OFFSET Z=-0.039     ; add a little offset for hotend thermal expansion 0.2/0.25
                            ; needs fine tuning, long meltzones require more
    # SET_GCODE_OFFSET Z_ADJUST={OFFSET}  ; apply optional material squish via slicer

    
    G92 E0
    LINE_PURGE
    G92 E0
    # SET_FILAMENT_SENSOR SENSOR=btt_sensor ENABLE=0
    M117 Printing
    ; start printing


[gcode_macro PRINT_END]
#   Use PRINT_END for the slicer ending script - please customise for your slicer of choice
gcode:

    # SET_FILAMENT_SENSOR SENSOR=btt_sensor ENABLE=0
    
    # safe anti-stringing move coords
    {% set th = printer.toolhead %}
    {% set x_safe = th.position.x + 20 * (1 if th.axis_maximum.x - th.position.x > 20 else -1) %}
    {% set y_safe = th.position.y + 20 * (1 if th.axis_maximum.y - th.position.y > 20 else -1) %}
    {% set z_safe = [th.position.z + 2, th.axis_maximum.z]|min %}
    
    SAVE_GCODE_STATE NAME=STATE_PRINT_END
    
    M400                           ; wait for buffer to clear
    G92 E0                         ; zero the extruder
    G1 E-5.0 F3600                 ; retract filament
    
    TURN_OFF_HEATERS
    
    G90                                      ; absolute positioning
    # G0 X{x_safe} Y{y_safe} Z{z_safe} F20000  ; move nozzle to remove stringing
    G0 X365 Y365 F3600  ; park nozzle at rear
    # G0 X{th.axis_maximum.x//2} Y{th.axis_maximum.y - 2} F3600  ; park nozzle at rear
    G1 E-7.0 F3600                 ; retract filament
    M107                                     ; turn off fan
    
    BED_MESH_CLEAR
    RESTORE_GCODE_STATE NAME=STATE_PRINT_END