[gcode_macro _PRINT_RESET_BED_OFFSET]
gcode:
    BED_MESH_CLEAR
    G28
    SET_GCODE_OFFSET Z=0
    G28 Z METHOD=CONTACT CALIBRATE=1 #METHOD=proximity CALIBRATE=1 #METHOD=CONTACT CALIBRATE=1    ; calibrate z offset and beacon model hot

[gcode_macro _PRINT_SET_BED_CONTACT]
gcode:
    # Z_TILT_ADJUST                       ; or QGL to balance towers
    # BED_MESH_CALIBRATE RUNS=2           ; bed mesh in scan mode

    G28 Z METHOD=CONTACT CALIBRATE=0    ; calibrate z offset only after tilt/mesh
    SET_GCODE_OFFSET Z=0.130     ; add a little offset for hotend thermal expansion 0.4/0.4